<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.codesniper.zxing" >


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- unavailable in API 23 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22"/>

    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>


    <application>


        <activity android:name="com.google.zxing.client.android.MyCapturesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="screenOrientation"
            />


        <activity android:name="com.google.zxing.client.android.PreferencesActivity"
            android:label="@string/preferences_name"
            android:stateNotNeeded="true"/>
        <activity android:name="com.google.zxing.client.android.book.SearchBookContentsActivity"
            android:label="@string/sbc_name"
            android:stateNotNeeded="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SEARCH_BOOK_CONTENTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.zxing.client.android.share.ShareActivity"
            android:stateNotNeeded="true"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SHARE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.zxing.client.android.history.HistoryActivity"
            android:label="@string/history_title"
            android:stateNotNeeded="true"/>
        <activity android:name="com.google.zxing.client.android.share.BookmarkPickerActivity"
            android:label="@string/bookmark_picker_name"
            android:stateNotNeeded="true"/>
        <activity android:name="com.google.zxing.client.android.share.AppPickerActivity"
            android:label="@string/app_picker_name"
            android:stateNotNeeded="true"/>
        <activity android:name="com.google.zxing.client.android.HelpActivity"
            android:label="@string/menu_help"
            android:screenOrientation="user"
            android:stateNotNeeded="true"/>
    </application>




</manifest>
